extends templates/main

- var platforms = ['android', 'blackberry', 'ios', 'mobileweb']
- var formFactors = ['handheld', 'tablet']

block header
  include includes/view_header_essential
  ImageView#imageViewPadLearn